-content_for :head do
  %title Invitation Sent: BetterSheet, A Better Way to Manage Project Cost
  %meta{ :name => :keywords, :content => 'cost estimation, cost tracking'}
  
#sign_up.content.invites
  %h1= @headline

  %h2
    BetterSheet is currently under development.
    
  #checkmark
    &#10003;
  
  %p
    Know others who would love simplified cost management?
    =link_to 'Recommend to a friend', recommend_invites_path, {:class => :button}
    
  %hr
  
  .survey
    %iframe{ :src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dE0xek1VZG9ZN3I2THFfNEpBNUk0UlE6MQ&entry_31=#{@invite.email}", :width => "760", :height => "1631", :frameborder =>"0", :marginheight => "0", :marginwidth => "0"}
      Loading Survey...

    

