#sign_up.content.invites
  %h1 We'll send you an invitation soon!

  %h2
    BetterSheet is currently under development; we'll send you an invitation soon
    
  #checkmark
    &#10003;
  
  %p
    This is a great time for to influence which features get built first.  
    Are there specific problems that BetterSheet can help you solve?
    
    =link_to 'Give us a suggestion!', new_suggestion_path
    
  %p
    Know others would appreciate simplified cost management?
    =link_to 'Recommend to a friend', recommend_invites_path

