-content_for :head do
  %title Invitation Sent: BetterSheet, A Better Way to Manage Project Cost
  %meta{ :name => :keywords, :content => 'cost estimation, cost tracking'}
  
#sign_up.content.invites
  %h1= @headline

  %h2
    BetterSheet is currently under development.
    
  #checkmark
    &#10003;
  
  %p
    Know others who would love simplified cost management?
    =link_to 'Recommend to a friend', recommend_invites_path, {:class => :button}
    
  %p
    This is a great time for influence which features we build first.  
    Are there specific problems that BetterSheet can help you solve?
    
    =link_to 'Give us a suggestion!', new_suggestion_path
    

