-content_for :head do
  %title About BetterSheet: A Better Way to Manage Project Cost
  %meta{ :name => :keywords, :content => 'cost estimation, cost tracking, about'}

#about.content.static.invites
  %h1 Built by a general contractor to make the worst part of construction easier.

  %h2
    BetterSheet is the second iteration of an in-house cost tracking system
    built to prevent surprises at the end of a project.
  
  %p
    I know how difficult it can be to keep track of cost in the middle of a long,
    complicated project.  The last thing you want to spend time doing is accounting,
    but it's critical to have accurate cost information if you want to make informed
    decisions during a project.
    
  %p
    BetterSheet started as an in-house cost management tool.  After struggling with
    excel spreadsheets, Gantt charts, Quickbooks and a stack of receipts, I decided 
    it was time to build a system designed to make cost estimation and tracking
    less difficult and more accurate.
    
  %p
    After a year of using the in-house tool, I'm building a public platform based on 
    the best and most-used features. I'm fortunate to have experience in both construction
    administration and web development; most firms aren't so lucky.
    
  %p
    BetterSheet is intended to address the special needs of large projects.  QuickBooks
    works well for estimating and tracking small projects, but if you have hundreds of 
    unit cost takeoffs, a project whose scope changes every month or two, and need to put
    together itemized draw requests with supporting receipts each month you could probably
    benefit from something built specifically for complex projects.
    
  %p
    This service will be based on a monthly subscription fee.  All your data will be stored 
    'in the cloud', and you'll be able to share your data with as many co-workers as you 
    want.  Pricing will be determined later, but will be based on the number of projects
    you're managing.
    
  %p
    This web page is under active development, and I'd love to hear any comments or feature requests
    you can think of.  Feel free to 
    =link_to 'make a suggestion.', new_suggestion_path
    
  %p
    ="-Ryan Michael, developer"
    
    
  %hr
  
  = form_for Invite.new do |f|
    =hidden_field_tag :source, 'sign_up'

    .field
      = f.label :email
      = f.text_field :email, {:type => :email, :placeholder => 'Email address'}

    .actions
      = f.submit "Tell me it's ready", {:class => :button}