/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import 'resets';
@import 'scaffolds';

$blue: #09f;

body {
  background: #EFF3FD;

  & * {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #333;  
  }
  
  a {
    text-decoration: none;
    color: darken($blue, 10%);
    
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-top: 40px;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  line-height: 60px;
  text-shadow: 2px 2px 2px white;
}

h2 {
  margin-tom: 20px;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: -1px;
  text-align: center;
  line-height: 28px;
}

p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: justify;
}

.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  &, a {
    text-shadow: 0 1px 3px darken($blue, 15%);
  }
  background-color: $blue;
  border: 1px solid $blue;
  background: linear-gradient( top, lighten($blue,2%), darken($blue, 5%) );
}

@import 'header';
@import 'invites';
@import 'suggestions';
@import 'static';