!!! html
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }

  %body
    %h1 Thanks for signing up for a beta invite to BetterSheet.com
    
    %p 
      We're working on making a better way to manage cost for large projects.
      We'll send you another email when we're ready to start

    %p
      Do you know others who might appreciate simplified cost management?
      =link_to 'Recommend BetterSheet.com to a friend', recommend_invites_path
              
    %p
      This is a great time to influence which features get built first.  
      Are there specific problems that BetterSheet can help you solve?

      =link_to 'Give us a suggestion!', new_suggestion_path
    

