!!! html
%html
  %head
    %title Bettersheet: Simplified Project Cost Management
    = stylesheet_link_tag    "application", {:class => :cssfx }
    = javascript_include_tag "application"
    = csrf_meta_tags
  
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27281814-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body

    %header
      .left
        .logo
          =link_to sign_up_invites_path do
            %span.accent> Better
            Sheet
        
      .right
        =link_to 'Recommend', recommend_invites_path
        =link_to 'About', '/about'
    
    = yield

